.pagina-aluno {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: 100%;
  padding: 178px;
  margin-top: 128px; 
  margin-left: 320px;
  background-color: #f0f0f0; 

  flex-grow: 1;
}

.cards-aluno {
  width: 100%; 
}
